*.suo
.vs

API/Common/bin
API/Common/bin/*
API/Common/obj
API/Common/obj/*

API/Game/bin
API/Game/bin/*
API/Game/obj
API/Game/obj/*

API/Manage/bin
API/Manage/bin/*
API/Manage/obj
API/Manage/obj/*

Tools/Generator/DataSheet/Michele
Tools/Generator/DataSheet/Michele/*

Tools/Generator/Game/Controller
Tools/Generator/Game/Controller/*
Tools/Generator/Game/Request
Tools/Generator/Game/Request/*

Tools/Generator/Manage/Controller
Tools/Generator/Manage/Controller/*
Tools/Generator/Manage/Request
Tools/Generator/Manage/Request/*

Tools/Generator/ErrorCode.cs

Tools/Generator/DataSheet/Superstar/Output
Tools/Generator/DataSheet/Superstar/Output/*

Library/
Temp/

.DS_Store

#以下がユーザーデータの模様
*.userprefs

vdt_debug.txt

obj/

*.sln

Assembly-CSharp-Editor-firstpass-vs.csproj
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-Editor-firstpass.pidb
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor.pidb
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-firstpass.pidb
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Assembly-CSharp.pidb
Assembly-UnityScript-Editor-firstpass-vs.unityproj
Assembly-UnityScript-Editor-firstpass.pidb
Assembly-UnityScript-Editor-firstpass.unityproj
Assembly-UnityScript-Editor-vs.unityproj
Assembly-UnityScript-Editor.pidb
Assembly-UnityScript-Editor.unityproj
Assembly-UnityScript-firstpass-vs.unityproj
Assembly-UnityScript-firstpass.pidb
Assembly-UnityScript-firstpass.unityproj
Assembly-UnityScript-vs.unityproj
Assembly-UnityScript.pidb
Assembly-UnityScript.unityProj
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Assembly-CSharp.csproj

.vscode

#Windowsで追加
*.log
*.dwlt
*.asset
*.vsconfig
StreamingAssets\build_info
ProjectSettings\SceneTemplateSettings.json